Host ssh.nobodyhome.pw
ProxyCommand /usr/bin/cloudflared access ssh --hostname %h

Host ssh.nobodyhome.dev
ProxyCommand /usr/bin/cloudflared access ssh --hostname %h

Host dailydriver.nobodyhome.dev
ProxyCommand /usr/bin/cloudflared access ssh --hostname %h

Host cloud.nobodyhome.dev
ProxyCommand /usr/bin/cloudflared access ssh --hostname %h

Host backhaul.nobodyhome.dev
ProxyCommand /usr/bin/cloudflared access ssh --hostname %h
